/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(206, 81%, 8%);
    --clr-primary-2: hsl(205, 90%, 23%);
    --clr-primary-3: hsl(205, 74%, 48%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(210, 23%, 91%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-coral: hsl(16, 100, 66);
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Merriweather", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5);
    --max-width: 1170px;
    --fixed-width: 620px;
    --background: rgba(255, 255, 255, 0.8)
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--ff-secondary);
    background: black;
    color: var(--clr-white);
    line-height: 1.5;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  h1,
  h2 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
   
    font-size: 1rem;
    color: var(clr-grey-1);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  
/*
=============== 
Nav Bar
===============
*/

nav {
	background: black;

}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.nav-toggle {
	font-size: 1.5rem;
	color: white;
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
}

.nav-toggle:hover {
	color: var(--clr-primary-3);
	transform: rotate(90deg);
}

.active {
	border-bottom: 1px solid var(--clr-orange);
	margin-top: 1vw;
}

.logo {
	height: 10vh;
  max-width: 25vw;
  object-fit: contain;
}

.menu a {
	color: var(--clr-grey-3);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	display: block;
	padding: 0.5rem 1rem;
	transition: var(--transition);
}

.menu a:hover {
	background: black;
	color: white;
	padding-left: 1.5rem;
}

.social-icons {
	display: none;
}

.menu {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}

.show-menu {
	height: 15rem;
}

@media screen and (min-width: 800px) {
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.nav-header {
		padding: 0;
	}
	.nav-toggle {
		display: none;
	}
	.menu {
		height: auto;
		display: flex;
	}
	.menu a {
		padding: 0;
		margin: 0 0.5rem;
	}
	.menu a:hover {
		padding: 0;
		background: transparent;
	}
	.social-icons {
		display: flex;
	}
	.social-icons a {
		margin: 0 0.5rem;
		color: var(--clr-primary-5);
		transition: var(--transition);
	}
	.social-icons a:hover {
		color: var(--clr-primary-7);
	}
}



 /*
  =============== 
  Hero Image
  ===============
  */

#hero-image {
  height: 80vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/james-murphy-hero.png) no-repeat center center;
}

@media screen and (max-width: 600vw) {
  #hero-image {
    background: url(../images/deb.jpg) no-repeat center center;
  }
}

#hero-image-about {
  height: 80vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/about.jpg) no-repeat center center;
  
}

@media screen and (min-width: 600vw) {
  #hero-image-about {
    background: url(../images/about.jpg) no-repeat center center;
  }
}
/* #hero-image-text { 
position: absolute; 
top: 125px; 
left: 100px; 
letter-spacing: 4px;  
background: rgba(255, 255, 255, 0.7);
padding: 10px; 
} */

/* 
==========
Search
========== 
*/

.search-box{
  width: 100%;
  position: relative;
  display: flex;

}
.search-input{
  height: 10vh;
  width: 65vw;
  padding: 10px;
  border: none;
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  
}
.search-button{
 text-align: center;
height: 10vh;
width: 10vw;
cursor: pointer;
border-color: var(--clr-grey-2);
border-bottom: none;
border-top: none;
border-right: none;
font-size: 1.5rem;
background-color: #fff;


}
.search-container{
  width: 75vw;
  position: relative;
  margin-left: 12.5vw;
  margin-top: 50vh;
  box-shadow: var(--dark-shadow);
}

/* 
==========
Footer
========== 
*/
#footer-container {
  
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: aqua;
 }

/* 
==========
========== 
*/

.sub-container{
  max-width: 100vw;
  height: auto;
  margin-bottom: 15vh;
 
}

 .home-container{
  width: 75vw;
  height: 35vh;
  position: relative;
  margin-left: 12.5vw;
  margin-bottom: 5rem;
 
}

@media screen and (max-width: 992vw) {
  .home-container{
    max-width: 85vw;
    margin-left: 7.5vw;
    height: auto;

   
  }
}



.home-img {
  width: 40vw;
  height: 60vh;
  margin: 2.5rem;
  background-color: red;
}

.home-info {
	width: 40vw;
  height: 60vh;
  margin: 2.5rem;
  background-color: aqua;
}


@media screen and (min-width: 992px) {
	.section-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		gap: 3rem;
		width: 95vw;
	}
	
}



@media screen and (max-width: 992px) {
  /* .section-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		gap: 3rem;
		width: 1005;
	} */

	.home-img {
    width: 80vw;
    margin: 0.5rem;
   
  }
  
  .home-info {
    width: 80vw;
    margin: 0.5rem;
  }
}

/* 
=============
=============
*/



/* 
.modal-btn {
	margin-top: 2rem;
	background: var(--clr-primary-5);
	border-color: var(--clr-primary-5);
	color: var(--clr-white);
}
.modal-btn:hover {
	background: transparent;
	color: var(--clr-primary-5);
} */

/* 
============
Carousel
============
*/

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: black;       
  }
        
  .awareness-figure {
  background-color: black;
  width: 33.31vw;
  /* padding-left: 10px;
  padding-right: 10px; */
  }

  .carousel-text {
    min-width: 75vw;
  }
  

.carousel-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

.carousel-container ul { 
  display: flex; 
  flex-direction: row;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
}

/* media queries */

@media screen and (max-width: 768px) {
  
  #logo {
    position: absolute;
    top: 0px;
    left: 35vw;
 }

 .carousel-text {
  min-width: 75vw;
}



  .flex-container {
    display: block;
    /* justify-content: flex-start;
    flex-direction: row; */
    background-color: black;
    max-width: 100vw;       
    }
          
          
    .awareness-figure {
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    }
    
    .awareness-caption {
    align-self: flex-start;
    text-align: center;
    border-bottom: none;
    font-size: 100%;
    width: 75vw;
    }
    
    .more-info {
      text-decoration: none;
    }

    #about-container {
      background-color:white;
      width: 100%; 
      }
    
    
      .about-section{
        background-image: none;
        background-size: 100%;
        background-color: #fdfdfd;
        overflow: hidden;
        padding: 0;
    }
    
    .inner-container{
        width: 90%;
        float: right;
        background-color: #fdfdfd;
        padding: 25px;
    }
    
    .inner-container h1{
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }
    
    .team-text{
        font-size: 13px;
        color: #545454;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 10px;
        padding-right: 100px;
    }

/* @media screen and (max-width: 800px) {
  .carousel {
    display: flex; 
  flex-direction: column;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
} */
}



.carousel-text {
  position: relative; 
  bottom: 10rem;
  left: 5rem;
  max-width: 30vw;
}

.carousel-text:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);

}

.awareness-figure:hover {
   overflow: hidden;
   opacity: 0.7;
  }

/* 
=============
Modal
=============
*/

.community-modal {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 10vh;
	max-width: 60vw;
	box-shadow: var(--light-shadow);
}

.home-modal {
	margin-left: 25vw;
	margin-right: 25vw;
	margin-top: 8vh;
	max-width: 50vw;
}

.community-modal-header {
	height: 5vh;
	background: transparent;
	position: relative;
}

.community-modal-header-container {
	display: flex;
	flex-wrap: wrap;
}

.modal-header h3 {
	text-align: center;
	background: transparent;
	padding: 2rem;
	font-size: 2.2rem;
}

.modal-header p {
	text-align: left;
	background: transparent;
	padding: .5rem;
	font-size: 1rem;
}

.close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	background: transparent;
	border-color: transparent;
	color: var(--clr-red-dark);
	cursor: pointer;
	transition: var(--transition);
}

.close-btn:hover {
	color: var(--clr-red-light);
	transform: scale(1.3);
}

.close-btn-g {
	text-align: center;
	font-size: 6rem;
	background: transparent;
	border-color: transparent;
	color: var(--clr-primary-6);
	cursor: pointer;
	transition: var(--transition);
}

.close-btn-g:hover {
	color: var(--clr-red-light);
	transform: scale(1.3);
}

.close-btn-c {
	text-align: center;
	margin-top: 1rem;
	font-size: 6rem;
	background: transparent;
	border-color: transparent;
	color: var( --clr-primary-6);
	cursor: pointer;
	transition: var(--transition);
}

.close-btn-c:hover {
	color: var(--clr-red-light);
	transform: scale(1.3);
}

.community-modal-body {
	text-align: center;
	background: var(--background);
	height: auto;
	padding: 2rem;
}