/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(206, 81%, 8%);
    --clr-primary-2: hsl(205, 90%, 23%);
    --clr-primary-3: hsl(205, 74%, 48%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(210, 23%, 91%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-coral: hsl(16, 100, 66);
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Merriweather", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5);
    --max-width: 1170px;
    --fixed-width: 620px;
    --background: rgba(255, 255, 255, 0.8)
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: var(--ff-secondary);
    background: black;
    color: var(--clr-white);
    line-height: 1.5;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  h1,
  h2 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
  h3,
  h4 {
    font-size: 2.5rem;
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
   
    font-size: 1rem;
    color: var(clr-grey-1);
    margin-bottom: 1rem;
  }

  main {
    min-height: 100vh;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  
/*
=============== 
Nav Bar
===============
*/


.logo {
	height: 10vh;
  max-width: 20vw;
  object-fit: contain;
}

.logo:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 800px) {
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}

	.nav-header {
		padding: 0;
	}
	.nav-toggle {
		display: none;
	}
	.menu {
		height: auto;
		display: flex;
	}
	.menu a {
		padding: 0;
		margin: 0 0.5rem;
	}
	.menu a:hover {
		padding: 0;
		background: transparent;
	}
	.social-icons {
		display: flex;
	}
	.social-icons a {
		margin: 0 0.5rem;
		color: var(--clr-primary-5);
		transition: var(--transition);
	}
	.social-icons a:hover {
		color: var(--clr-primary-7);
	}
} 



 /*
  =============== 
  Hero Image
  ===============
  */

#hero-image {
  height: 85vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/4.jpg) no-repeat center center;
}

@media screen and (max-width: 968px) {
  
  #hero-image {
    background: url(../images/jm-mobile.jpg) no-repeat center center;
  }
}

#hero-image-website {
  height: 85vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/hero-images/website.jpg) no-repeat center center;
}

@media screen and (max-width: 968px) {
  
  #hero-image-website {
    background: url(../images/hero-images/website-mobile.png) no-repeat center center;
  }
}

#hero-image-future {
  height: 85vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/hero-images/future-academy.jpg) no-repeat center center;
}

@media screen and (max-width: 968px) {
  
  #hero-image-website {
    background: url(../images/5.jpg) no-repeat center center;
  }
}

#hero-image-playbook {
  height: 85vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/hero-images/playbook.jpg) no-repeat center center;
}





/* contact */
#hero-image-contact {
  height: 85vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/3.jpg) no-repeat center center;
}

@media screen and (max-width: 968px) {
  
  #hero-image-contact {
    background: url(../images/4.jpg) no-repeat center center;
  }
}

/* About */
#hero-image-about {
  height: 85vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/3.jpg) no-repeat center center;
}

@media screen and (max-width: 968px) {
  
  #hero-image-about {
    background: url(../images/4.jpg) no-repeat center center;
  }
}


#hero-image-foe {
  height: 80vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/foe-header.jpg) no-repeat center center;
  
}

@media screen and (max-width: 968px) {
  #hero-image-foe {
    background: url(../images/foe-mobile.jpg) no-repeat center center;
  }
}

/* Climate Reality Project */
#hero-image-crp {
  height: 80vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/crp.jpg) no-repeat center center;
  
}

@media screen and (max-width: 968px) {
  #hero-image-crp {
    background: url(../images/crp-mobile.jpg) no-repeat center center;
  }
}

#hero-image-portfolio {
  height: 80vh;
  width: auto;
  object-fit: contain;
  overflow: hidden;
  background: url(../images/portfolio.jpg) no-repeat center center;
  
}

/* #hero-image-text { 
position: absolute; 
top: 125px; 
left: 100px; 
letter-spacing: 4px;  
background: rgba(255, 255, 255, 0.7);
padding: 10px; 
} */

/* 
==========
Search
========== 
*/

.search-box{
  width: 100%;
  position: relative;
  display: flex;

}
.search-input{
  height: 10vh;
  width: 65vw;
  padding: 10px;
  border: none;
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  
}
.search-button{
 text-align: center;
height: 10vh;
width: 10vw;
cursor: pointer;
border-color: var(--clr-grey-2);
border-bottom: none;
border-top: none;
border-right: none;
font-size: 1.5rem;
background-color: #fff;


}
.search-container{
  width: 75vw;
  position: relative;
  margin-left: 12.5vw;
  margin-top: 50vh;
  box-shadow: var(--dark-shadow);
}

/* 
==========
Footer
========== 
*/
#footer-container {
  
  margin-top: 5rem;

 }

/* 
==========
========== 
*/

.sub-container{
  max-width: 75vw;
  height: auto;
  margin-left: 12.5vw;
  margin-bottom: 15vh;
 
}

.title {
  text-align: center;
  margin-bottom: 5rem;
}

 .home-container{
  width: 90vw;
  /* max-height: 10vh; */
  margin: 2.5rem;
}



@media screen and (max-width: 992vw) {
  .home-container{
    max-width: 85vw;
    margin-left: 7.5vw;
    height: auto;

   
  }
}


/* .section {
	padding: 0;
} */



.section-center {
	width: 100vw;
  
	margin: 2rem auto;
	padding: 0rem 2rem 0rem 2rem;
	max-width: 1170px;
}

.home-img {
  display: block;
  width: 30vw;
  height: 100vh;
  margin: 2.5rem;
  background-color: transparent;
}

.home-info {
  display: block;
	width: 30vw;
  height: 80vh;
  margin: 2.5rem;
  background-color: black;
}


@media screen and (min-width: 992px) {
	.section-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		gap: 3rem;
		width: 95vw;
	}
	
}



@media screen and (max-width: 992px) {
  /* .section-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		gap: 3rem;
		width: 1005;
	} */

	.home-img {
    width: 80vw;
    margin: 0.5rem;
   
  }
  
  .home-info {
    width: 80vw;
    margin: 0.5rem;
  }
}

/* 
=============
=============
*/



/* 
.modal-btn {
	margin-top: 2rem;
	background: var(--clr-primary-5);
	border-color: var(--clr-primary-5);
	color: var(--clr-white);
}
.modal-btn:hover {
	background: transparent;
	color: var(--clr-primary-5);
} */

/* 
============
Carousel
============
*/

.news {
  background-color: rgb(44, 42, 42);    
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  /* max-height: 10vh; */
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin: auto;
  }

  .news i {
    margin-top: .5rem;
  size: 5rem;
  color: yellow;

  }
  
  .news h2 {
    
  margin-left: 3rem;

  }
    

.news-info {
  margin-top: 2.5rem; 
  padding: 2.5rem;
  /* color:hsl(205, 74%, 48%);  */
    }

    .news-icon {
      margin-top: 2.5rem; 
      padding: 2.5rem;
      /* color:hsl(205, 74%, 48%);  */
        }

.news:hover {
  background-color: rgb(24, 22, 22);
  transform: scale(1.01);
}



.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);   
  margin-bottom: 5rem;  
  }

.flex-info:hover {

  transform: scale(1.05);
}

.readon {
  color: var(--clr-primary-5) 
  }

  .readon:hover {
    color: yellow;
    }
        
  .awareness-figure {
  background-color: black;
  width: 33.31vw;
  overflow: hidden;
  max-height: 460px;

  /* padding-left: 10px;
  padding-right: 10px; */
  }

  .carousel-text {
    min-width: 75vw;
  }
  

.carousel-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

.carousel-container ul { 
  display: flex; 
  flex-direction: row;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
}

/* media queries */

@media screen and (max-width: 968px) {
  
  #logo {
    position: absolute;
    top: 0px;
    left: 35vw;
 }

 .carousel-text {
  min-width: 75vw;
}



  .flex-container {
    display: block;
    /* justify-content: flex-start;
    flex-direction: row; */
    background-color: black;
    max-width: 100vw;  
    margin-top: 5rem;       
    }
          
          
    .awareness-figure {
    background-color: black;
    display: flex;
    flex-flow: column;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    }
    
    .awareness-caption {
    align-self: flex-start;
    text-align: center;
    border-bottom: none;
    font-size: 100%;
    width: 75vw;
    }
    
    .more-info {
      text-decoration: none;
    }

    #about-container {
      background-color:white;
      width: 100%; 
      }
    
    
      .about-section{
        background-image: none;
        background-size: 100%;
        background-color: #fdfdfd;
        overflow: hidden;
        padding: 0;
    }
    
    .inner-container{
        width: 90%;
        float: right;
        background-color: #fdfdfd;
        padding: 25px;
    }
    
    .inner-container h1{
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }
    
    .team-text{
        font-size: 13px;
        color: #545454;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 10px;
        padding-right: 100px;
    }

/* @media screen and (max-width: 800px) {
  .carousel {
    display: flex; 
  flex-direction: column;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
} */
}



.carousel-text {
  position: relative; 
  bottom: 10rem;
  left: 5rem;
  max-width: 30vw;
}

.carousel-text:hover {
  transform: scale(1.01);
  color: yellow;
  /* transform: scale(1.05); */

}

.carousel li:hover {
 
  transform: scale(1.05);

}

.awareness-figure:hover {
   overflow: hidden;
   
   transform: scale(1.05);
  }

/* 
=============
Modal
=============
*/

.community-modal {
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 10vh;
	max-width: 60vw;
	box-shadow: var(--light-shadow);
}

.home-modal {
	margin-left: 25vw;
	margin-right: 25vw;
	margin-top: 8vh;
	max-width: 50vw;
}

.community-modal-header {
	height: 5vh;
	background: transparent;
	position: relative;
}

.community-modal-header-container {
	display: flex;
	flex-wrap: wrap;
}

.modal-header h3 {
	text-align: center;
	background: transparent;
	padding: 2rem;
	font-size: 2.2rem;
}

.modal-header p {
	text-align: left;
	background: transparent;
	padding: .5rem;
	font-size: 1rem;
}

.close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	background: transparent;
	border-color: transparent;
	color: var(--clr-red-dark);
	cursor: pointer;
	transition: var(--transition);
}

.close-btn:hover {
	color: var(--clr-red-light);
	transform: scale(1.3);
}

.close-btn-g {
	text-align: center;
	font-size: 6rem;
	background: transparent;
	border-color: transparent;
	color: var(--clr-primary-6);
	cursor: pointer;
	transition: var(--transition);
}

.close-btn-g:hover {
	color: var(--clr-red-light);
	transform: scale(1.3);
}

.close-btn-c {
	text-align: center;
	margin-top: 1rem;
	font-size: 6rem;
	background: transparent;
	border-color: transparent;
	color: var( --clr-primary-6);
	cursor: pointer;
	transition: var(--transition);
}

.close-btn-c:hover {
	color: var(--clr-red-light);
	transform: scale(1.3);
}

.community-modal-body {
	text-align: center;
	background: var(--background);
	height: auto;
	padding: 2rem;
}

/* 
============
Reactive
============ 
*/

@media screen and (min-width: 992px) {
	.section-center {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		gap: 3rem;
		width: 95vw;
	}
	.home-img {
		margin-bottom: 0;
	}
}

/* 
===============
Footer
=============== 
*/

* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}

.footer {
    background-color: black;
    color: #fff;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-top: 5rem;
    max-width: 1230px;
    padding: 10px 5px 45px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 5rem;
    
    width: 100%;
    color: #fff;
}



.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 5px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}



.footer-menu-list li {
    margin-top: 5px;
}






.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: black;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 45px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}


/* 
================
Nav Dropdown
================ 
*/

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1rem;
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.topnav .active {
  color: yellow;
  text-emphasis-color: yellow;
  text-decoration-color: yellow;
}

.topnav .icon {
  display: none;
  
}

.topnav .icon:hover{
  
  transform: rotate(90deg);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
      
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  font-size: 1rem;
  margin-right: 1rem;
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  min-width: 160px;
  /* z-index: 1; */
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1rem;
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.topnav a:hover, .dropdown:hover .dropbtn:hover {
  
  color: yellow;
 
}

.dropdown-content a:hover {
  color: yellow;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 900px) {
  .topnav a:first-child, .dropdown .dropbtn {
    display: none;
  }

  .logo {
    width: 50vw;
  }

  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {

.logo {
	height: 10vh;
  max-width: 40vw;
  object-fit: contain;
  margin-left: 10vw;
}
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 1rem;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 1rem;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    margin: 1rem;
  }
}


/* form */

.form-container {
	max-width: 40rem;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

/* 
================
About 
================
*/

/*===================== Hero section ======================*/

.about-img{
  margin-left: -100px;
  right: -60px;
 }
 
 .display-1{
   font-size: 160px;
   font-weight: 1000;
 
 }
 
 .position-absolute{
   font-weight: 700;
 
 }
 
 .typed-cursor {
   font-size: 45px;
   color: #ffffff;
 }
 
 .blue{
   background-color: #1c5ce6;
   color: #ffffff;
 }
 .btn{
   border: 2px solid rgb(29, 105, 247);
 } 
 .btn-white{
   background-color: #ffffff;
   border:2px solid #ffffff;
 }
 .btn-blue{
   border: 2.4px solid #ffffff;
   color: #ffffff;
 }
 @media (max-width: 700px) {
   .about-img{
     margin-left: 20px;
     right: 0px;
     top: 30px;
    }
 }




/*===================== Progress Bar ====================*/

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}


/* =================== Queality ======================*/
.ex-me{
  margin-top: 35px;
}


/* =================== Service Section ==================*/
.service-h4{
  padding-bottom: 30px;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.service-box{
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);  
  margin-left: 20px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.service-box:hover{
  box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 

}



/* =================== Portfolio section ==================*/


.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}



/* ====================== Testimonial ================*/
.testimonial-carousel .text-center{
  background-color: #eaecf0d0;
  border-radius: 20px;
  margin: 20px;

}
.testimonial-carousel .text-center h4{

}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #dddddd;
}

.testimonial-carousel .owl-dot.active {
  background: #0BCEAF;
}


/*====================== Back to buttom ==================*/

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  text-align: center;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}